@model IEnumerable<Lab_WebUI.Models.UsuariosModels.UsuarioModel>

@{
    ViewBag.Title = "Lista de usuário";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewBag.Title</h2>
    <div class="text-center mb-3">
        <a asp-action="Criar" asp-controller="Usuario" class="btn btn-primary">Cadastrar Novo Usuário</a>
    </div>
    <table class="table table-hover">
        <thead class="table table-dark" >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Chave)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="list-group-item d-flex justify-content-between align-items-center">
                        @Html.DisplayFor(model => item.Chave)
                        <a asp-action="Editar" asp-controller="Usuario" asp-route-id="@item.Id" class="btn btn-outline-primaty btn-sm">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>