<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" 
			 connectionString="Server=CTS1A519456\\SQLEXPRESS;Database=DB_Laboratorio;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>