@model Lab_WebUI.Models.TecnicoModels.CadastraTecnicoModel

@{
    ViewBag.Title = "Cadastro de Tecnicos";
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Tecnico" asp-action="CadastroTecnico" method="post">
@*     @Html.ValidationSummary(true)
    <div class="alert alert-danger">
        @Html.ValidationMessageFor(x => x.Nome)
    </div> *@
    <div class="mb-3">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Cadastro</button>
    </div>
</form>
